.flex-container {

    display: flex;

    .left {
        flex: 0 1 40%;
        
        

        .top {
            color: #fff;
            font-family: "Montserrat";
            background-color: #3d3d3d;
            padding: 40px 20px;

            h1 {
                font-family: "Bebas Neue", sans-serif;
                text-transform: uppercase;
                letter-spacing: 5.0px;
                font-size: 46px;
            }

            h2 {
                text-transform: uppercase;
                letter-spacing: 8px;
                font-size: 30px;
            }

            .contacts {
                .contact {
                    display: flex;

                    margin-bottom: 10px;
                    /* margin-left: 3px; */
                    a, span {
                        color: #fff;
                        text-decoration: none;

                        margin-left: 15px
                    }
                }

                .line {
                    height: 1px;
                    background-color: #fff;
    
                    margin: 20px 0;
                }
    
                a {
                    color: #fff;
                    text-decoration: none;
                    margin-bottom: 10px;
                }
            }
        }

        .bottom {
            padding: 40px 20px;
            background-color:#dee0dc;
        }
    }
}


body {
    margin: 0;

    a {
        color: #fff;
        text-decoration: none;
        margin-bottom: 10px;
    }
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat-thin {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }