// ── Google Fonts ───────────────────────────────────

// Jost (Logo Font)
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

// Space Grotesk
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


// ── CSS custom properties (primitives) ───────────────────────
:root {
    // Orange scale (primary brand)
    --orange-100: #FEF0E8;
    --orange-200: #FDD9C4;
    --orange-300: #FBC09E;
    --orange-400: #F8A476;
    --orange-450: #f57643;
    --orange-500: #F16425;
    --orange-600: #C94E18;
    --orange-650: #B34819;
    --orange-700: #A03C12;
    --orange-800: #7A2D0D;
    --orange-850: #612308;
    --orange-900: #4A1A05;
    --orange-1000: #2E0F02;

    // Oxblood scale (secondary brand)
    --oxblood-100: #F7EAEA;
    --oxblood-200: #EECECE;
    --oxblood-300: #D99999;
    --oxblood-400: #C36464;
    --oxblood-500: #A33030;
    --oxblood-600: #7A2020;
    --oxblood-650: #671e1e;
    --oxblood-700: #5E1818;
    --oxblood-800: #431111;
    --oxblood-850: #421010;
    --oxblood-900: #260808;
    --oxblood-1000: #0d0101;


    // Stone scale (neutrals)
    --stone-000: #FDFAF7;
    --stone-100: #FAF7F4;
    --stone-200: #F5F0EB;
    --stone-300: #EDE5DB;
    --stone-400: #DDD3C6;
    --stone-500: #C4B8A9;
    --stone-600: #A3957F;
    --stone-700: #7A6E60;
    --stone-800: #534C41;
    --stone-850: #3f3b35;
    --stone-900: #342E26;
    --stone-950: #2b2723;
    --stone-1000: #1A1410;



    --max-width: 1600px;
}
