@use "./variables" as *;

// ── Base resets ──────────────────────────────────────────────

p {
  margin: 0;
  font-family: $font-sans;
  font-size: var(--text-base); 
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

a {
  margin: 0;
  font-family: $font-sans;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  // color: var(--cream-500);
}

// ── Placeholders ──────────────────────────────────────

%body-base {
  // font-family: $font-body;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

%heading-base {
  font-family: $font-sans;
  line-height: 110%;
}

%subheading-base {
  font-family: $font-mono;
  font-weight: 500;
  line-height: 125%;
}

// ── Heading styles ────────────────────────────────────────────

h1,
.heading-xxl {
  @extend %heading-base;
  font-size: var(--text-5xl);
  font-weight: 700;
}

h2,
.heading-xl {
  @extend %heading-base;
  font-size: var(--text-4xl);
    font-weight: 700;
}

h3,
.heading-l {
  @extend %heading-base;
  font-size: var(--text-3xl);
  font-weight: 600;
}

h4,
.heading-m {
  @extend %heading-base;
  font-size: var(--text-2xl);
  font-weight: 600;
}

h5,
.heading-s {
  @extend %heading-base;
  font-size: var(--text-xl);
  font-weight: 600;
}

h6,
.heading-xs {
  @extend %subheading-base;
  font-size: var(--text-lg);
}

// ── Body ──────────────────────────────────────────────────────

.body { 
  @extend %body-base;
  font-size: var(--text-base); 
}

.body-l, .body-l > p  { 
  @extend %body-base;
  font-size: var(--text-md);
  font-weight: 400; 
}

.body-s, .body-s > p   { 
  @extend %body-base;
  font-size: var(--text-s); 
}

.body-xs, .body-xs > p   { 
  @extend %body-base;
  font-size: var(--text-xs); 
}

// ── Eyebrow ───────────────────────────────────────────────────

p.eyebrow {
  font-family: $font-mono;
  font-size: var(--text-md);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1px;
  text-transform: uppercase;

  &.centered { text-align: center; }
}


// ── Utilities ─────────────────────────────────────────────────

