
.case_study_inner {
    section {
        padding: 120px 60px;
        min-height: 1025px;
    }


    #smart_fusion {
        min-height: auto;

        .cs_info {
            margin-top: 75px;
            min-height: 256px;
            
            display: flex;

            
            .cs_info_card {
                flex: 1;
                background: rgba(40, 40, 40, 0.50);
                border-top: 2.5px solid var(--white);
                /* border-left: 2.5px solid var(--white); */
                padding: 32px 24px;

                .eyebrow {
                    margin-bottom: 16px;
                }

                &:nth-of-type(2) {
                    border-left: 2.5px solid var(--white);
                    border-right: 2.5px solid var(--white);
                }
            }
        }
    }

    #overview {
        padding: 120px 0;

        display: flex;
        align-items: center;
        gap: 7.917vw;

        .img_holder {
            flex: 1 1 702px;
            max-height: 936px;
            overflow: hidden;

            img {
                width: 100%;
                /* height: 100%; */
            }
        }

        .text {
            flex: 1 1 624px;

            padding-right: 60px;

            .copy_card {
                margin-top: 32px;;
            }
        }
    }

    #challenges_goals {
        display: flex;
        align-items: center;
        gap: 30px;

        .large_cards {
            flex: 1 1 50%;
            min-height: 551px;
        }
    }

    #solution {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;

        .solution_cards {
            /* display: grid; */
            /* grid-template-columns: repeat(auto-fill, minmax(645px, 1fr)); */
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            .card_w_icon {
                flex: 1 1 44%;
            }
            
        }
    }
}

@media all and (max-width: 800px)  {
    .case_study_inner {
        section {
            padding: 60px 16px;
            min-height: auto;
        }

        #overview {
            padding: 60px 16px;
            flex-direction: column;

            .img_holder {
                flex: 1;
                aspect-ratio: 2 / 3;
            }

            .text {
                flex: 1;
                padding: 0;
            }
        }

        #challenges_goals {
            flex-direction: column;

            .large_cards {
                flex: 1;
                min-height: auto;
            }
        }
        
    }
}