/* /////////////////// */
/* Navigation */
/* /////////////////// */

.navigation {
    position: relative;
    padding: 16px 60px;

    display: flex;
    justify-content: space-between;
    gap: 24px;

    .left {
        /* flex: 1; */

        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    nav {
        /* flex: 1; */
        display: flex;
        align-items: center;


        ul.main_nav {
            list-style-type: none;
            padding: 0;
            height: 100%;

            display: flex;
            align-items: stretch;
            /* flex-direction: column; */
            gap: 24px;

            li {
                a, span {
                    font-family: "Ostrich Proper";
                    font-weight: 500;
                    letter-spacing: 3.36px;
                    text-transform: uppercase;
                    text-decoration: none;

                    &.active {
                        text-decoration: underline;
                        text-underline-offset: 5px;
                        /* text-decoration-thickness: 2px; */
                    }
                }

                ul.submenu {
                    /* position: absolute; */
                    bottom: 0;

                    padding: 12px 16px;
                    list-style-type: none;
                    background-color: var(--light-black);
                    /* opacity: 0; */
                    transition: all ease-in-out 300ms;

                    li {
                        margin: 0
                    }
                }

                &:hover {
                    ul.submenu {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* /////////////////// */

/* /////////////////// */
/* Copy Only */
/* /////////////////// */

.copy_only {
    .eyebrow {
        margin-bottom: 16px;
    }

    .div_line {
        margin: 16px 0;
        height: 2.5px;
        background-color: var(--white);
    }

    &.contain {
        max-width: 72.222vw;
    }
}

@media all and (max-width: 800px) {
    .copy_only {
        &.contain {
            max-width: none;
        }
    }
}


/* /////////////////// */

/* /////////////////// */
/* Copy Card */
/* /////////////////// */

.copy_card {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--light-black);
    padding: 32px 24px;

    &.center {
        align-items: center;
        text-align: center;
        border-top: 3px solid var(--white);
        border-bottom: 3px solid var(--white);
    }

    &.left {
        border-left: 3px solid var(--white);
        border-right: 3px solid var(--white);
    }
}

/* /////////////////// */

/* /////////////////// */
/* Card with Image */
/* /////////////////// */

.card_w_image {
    padding: 32px 20px;
    background-color: var(--light-black);
    border-left: 3px solid var(--white);
    border-right: 3px solid var(--white);
    text-decoration: none;
    
    display: flex;
    align-items: stretch;
    gap: 60px;

    &:hover {
        h4 {
            text-decoration: underline;

            .arrow-wrapper .arrow {
                transform: rotate(0deg) !important;
            }
        }
    }

    .img_holder {
        flex: 1 1 513px;
        aspect-ratio: 1 / 1;

        background-size: contain;
        background-repeat: no-repeat;
    }

    .text {
        padding: 24px 0;
        flex: 1 1 708px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;

        h4 {
            text-decoration-thickness: 2.5px;
            text-underline-offset: 5px;
            

            /* &::after {
                content: '';
                display: inline-block;
                position: relative;
                margin-left: 16px;
                width: 40px;
                height: 40px;
                aspect-ratio: 1/1;

                background-image: url("/src/data//images/Right_arrow.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                transform: rotate(-45deg);
                transition: all ease-in-out 300ms;
            } */

            .arrow-wrapper {
                display: inline-block;
                position: relative;
                margin-left: 16px;
                
                .arrow {
                    display: block;
                    width: 40px;
                    height: 40px;
                    aspect-ratio: 1/1;
                    background-image: url("/src/data//images/Right_arrow.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    transform: rotate(-45deg);
                    transition: all ease-in-out 300ms;
                }
            }
        }

        .tags {
            margin-top: 16px;

            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 16px;
        

            .tag {
                border: 2.5px solid var(--gray);
                padding: 5px;

                p {
                    color: var(--gray);
                    font-family: "Ostrich Sans";
                    font-weight: 900;
                    letter-spacing: 2.52px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media all and (max-width: 1100px)  {
    .card_w_image {
        flex-direction: column;
        gap: 32px;

        img {
            flex: 1;
        }

        .text {
            flex: 1;
        }
    }
}

@media all and (max-width: 800px) {
    .card_w_image .text .upper_text h4::after {
        width: 24px;
        height: 24px;
    }
}

/* /////////////////// */





/* ////////////////////////////////////// */



/* /////////////////// */
/* HeaderWithLine */
/* /////////////////// */

.header_with_line {
    width: 100%;

    .header_with_line-inner {
        border-bottom: 2px solid var(--white);
        padding: 0 60px 32px 0;
    }
    .subtext {
        font-family: Ostrich Sans;
        font-weight: 400;
        font-size: clamp(48px, 3.333vw, 52px);
        /* font-style: italic; */
        text-transform: uppercase;
        letter-spacing: 27.84px;
        margin-top: 24px;
    }

    .body_text {
        max-width: 60.486vw;
        margin-top: 16px;

        font-size: clamp(24px, 1.667vw, 29px);
    }

    &.white {
        .header_with_line-inner {
            border-color: var(--black);

            h1,
            h2,
            .body_text {
                color: var(--black);
            }
        }
    }
}

@media all and (max-width: 1100px) {
    .header_with_line {
        .body_text {
            max-width: none;
            font-size: clamp(16px, 4.267vw, 20px);
        }

        .header_with_line-inner {
            padding: 0 0 24px 0;
        }

        .subtext {
            font-size: clamp(20px, 5.333vw, 25px);
            letter-spacing: 7.04px;
        }
    }
}

/* /////////////////// */

/* /////////////////// */
/* Socials */
/* /////////////////// */

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    .social {
        /* padding: 20px; */
        border-radius: 100%;
        background: #282828;
        aspect-ratio: 1 / 1;
        width: 72px;
        height: 72px;
        transition: all ease-in-out 300ms;

        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            height: 40px;
        }

        /* &:hover { */
        /* box-shadow: 0 0 48.485px 0 #404040, 0 0 27.706px 0 #404040, 0 0 16.162px 0 #404040, 0 0 8.081px 0 #404040, 0 0 2.309px 0 #404040, 0 0 1.154px 0 #404040; */
        /* } */
    }
}

@media (max-width: 1000px) {
    .socials {
        flex-direction: row;

        .social {
            width: 50px;
            height: 50px;

            svg {
                width: 18px;
                height: 18px;
            }
        }
    }
}

/* /////////////////// */

/* /////////////////// */
/* Card */
/* /////////////////// */

.card {
    /* border-radius: 30px; */
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    &.white {
        background-color: var(--light-gray);
        border: 2px solid var(--black);
    }

    &.black {
        background-color: var(--light-black);
    }

    .card_header {
        margin-bottom: 8px;
    }

    .card_subtext {
        font-size: clamp(30px, 2.083vw, 35px);
    }
}

@media (max-width: 1000px) {
    .card {
        .card_header {
            font-size: clamp(32px, 8.533vw, 37px);
        }
    }
}

/* /////////////////// */
