/* /////////////////// */
/* HeaderWithLine */
/* /////////////////// */

.header_with_line {
    .header_with_line-inner {
        border-bottom: 2px solid var(--white);
        padding: 0 60px 32px 0;
    }
    .subtext {
        font-family: Ostrich Sans;
        font-weight: 400;
        font-size: clamp(48px, 3.333vw, 52px);
        /* font-style: italic; */
        text-transform: uppercase;
        letter-spacing: 27.84px;
        margin-top: 24px;
    }

    .body_text {
        max-width: 60.486vw;
        margin-top: 16px;

        font-size: clamp(24px, 1.667vw, 29px);
    }

    &.white {
        .header_with_line-inner {
            border-color: var(--black);

            h1,
            h2,
            .body_text {
                color: var(--black);
            }
        }
    }
}

/* /////////////////// */

/* /////////////////// */
/* Socials */
/* /////////////////// */

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    .social {
        padding: 20px;
        border-radius: 100%;
        background: #282828;
        aspect-ratio: 1 / 1;

        display: flex;
        justify-content: center;

        .icon {
            height: 40px;
        }
    }
}

/* /////////////////// */

/* /////////////////// */
/* Card */
/* /////////////////// */

.card {
    border-radius: 30px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    &.white {
        background-color: var(--light-gray);
        border: 2px solid var(--black);
    }

    &.black {
        background-color: var(--darker-white);
    }

    .card_header {
        color: var(--black);
        font-size: clamp(48px, 3.333vw, 52px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .card_subtext {
        color: var(--black);
        font-family: Ostrich Sans;
        font-size: clamp(30px, 2.083vw, 35px);
        /* font-style: italic; */
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.2px;
        text-transform: uppercase;
    }

    .body > * {
        color: var(--black);
        font-family: Urbanist;

        font-size: clamp(20px, 1.389vw, 25px);
        font-style: normal;
        font-weight: 500;
        line-height: 120.114%; /* 24.023px */
        letter-spacing: 0.4px;
    }
}

/* /////////////////// */
