/* /////////////////// */
// Terminal
/* /////////////////// */

.terminal {
    border-radius: 8px;
    overflow: hidden;
    background: var(--code-black);
    border: 1px solid var(--light-black);

    .terminal-header {
        background: var(--light-black);
        padding: 16px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .terminal-btns {
            display: flex;
            gap: 8px;

            .terminal-btn {
                width: 12px;
                height: 12px;
                border-radius: 50%;

                &.red {
                    background: #ff5f56;
                }
                &.yellow {
                    background: #ffbd2e;
                }
                &.green {
                    background: #27ca3f;
                }
            }
        }

        .terminal-title {
            color: var(--gray);
            font-family: "Roboto Mono", monospace;
        }
    }

    .terminal-body {
        padding: 32px;

        @media all and (max-width: 800px) {
            padding: 24px 16px;
        }

        .terminal-section {
            margin-bottom: 16px;

            &:last-of-type {
                margin-bottom: 0;
            }

            p.terminal-command {
                display: flex;
                align-items: center;
                gap: 8px;

                font-family: "Roboto Mono", monospace;
                margin-bottom: 8px;

                .prompt {
                    color: var(--accent);
                }
                .command {
                    color: var(--pale-indigo);
                }

                .cursor_blink {
                    background: var(--pale-indigo);
                    animation: cursor_blink 1s infinite;
                    width: 10px;
                    height: 20px;
                }
            }

            .output {
                margin-left: 32px;

                p {
                    font-family: "SF Mono", "Roboto Mono", monospace;
                }

                @media all and (max-width: 800px) {
                    margin-left: 0px;
                }
            }

            .contact_list {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .contact_item {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    text-decoration: none;
                    // font-size: clamp(36px, 2.5vw, 46px);
                    font-size: clamp(18px, 1.25vw, 22px);
                    p {
                        font-family: "Roboto Mono", monospace;
                        line-height: 100%;
                    }

                    &:hover {
                        p {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.git_message {
                border-top: 2px solid var(--light-black);
                padding-top: 16px;

                display: flex;
                gap: 16px;

                @media all and (max-width: 800px) {
                    flex-direction: column;
                    gap: 0px;
                    // text-align: center;
                }

                p.terminal-command {
                    @media all and (max-width: 800px) {
                        // justify-content: center;
                    }
                    span {
                        color: var(--gray);
                    }
                }

                .git_message-text {
                    @media all and (max-width: 800px) {
                        margin-left: 16px;
                    }

                    color: var(--accent);

                    // display: flex;
                    // gap: 8px;
                    &::after {
                        content: "_";
                        display: inline-block;
                        margin-left: 8px;

                        color: var(--accent);
                        animation: 1s ease 0s infinite normal none running cursor_blink;
                    }
                }
            }
        }
    }
}

/* /////////////////// */

/* /////////////////// */
// Terminal Card
/* /////////////////// */
.terminal_card {
    border-radius: 8px;
    overflow: hidden;
    background: var(--code-black);
    border: 1px solid var(--light-black);

    &:hover {
        .terminal_card-body {
            .img_holder img {
                transform: scale(1.25);
            }
        }
    }

    .terminal_card-header {
        background: var(--light-black);
        padding: 16px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .terminal-btns {
            display: flex;
            gap: 8px;

            .terminal-btn {
                width: 12px;
                height: 12px;
                border-radius: 50%;

                &.red {
                    background: #ff5f56;
                }
                &.yellow {
                    background: #ffbd2e;
                }
                &.green {
                    background: #27ca3f;
                }
            }
        }

        .terminal-title {
            color: var(--gray);
            font-family: "Roboto Mono", monospace;
        }
    }

    .terminal_card-body {
        padding: 32px;

        @media all and (max-width: 800px) {
            padding: 24px 16px;
        }

        .img_holder {
            aspect-ratio: 4 / 2;
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 16px;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center top;
                transition: all ease-in-out 300ms;
            }
        }

        .text {
            .text-section {
                margin-bottom: 24px;
                .subtext {
                    @media all and (max-width: 800px) {
                        font-size: clamp(26px, 7.467vw, 30px);
                    }
                }
                .comment {
                    color: var(--accent);
                    font-family: "Roboto Mono", monospace;
                    font-size: clamp(14px, 0.972vw, 18px);
                    font-weight: 400;
                    line-height: 140%;
                    letter-spacing: 0.28px;

                    margin-bottom: 12px;
                }
            }
        }
    }
}

/* /////////////////// */

/* /////////////////// */
/* HeroTerminal */
/* /////////////////// */

@keyframes cursor_blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.hero_terminal {
    .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        margin-top: 32px;

        @media all and (max-width: 800px) {
            flex-direction: column;

            // padding: 0 16px;

            .btn {
                width: -webkit-fill-available;
                justify-content: center;
            }
        }
    }
}

/* /////////////////// */

/* /////////////////// */
// TextWithSmallTitle
/* /////////////////// */

.text_w_small_title-wrapper {
    .text_w_small_title-inner {
        position: relative;
        padding: 12px 0 0 0;

        max-width: 80%;
        margin: auto;

        @media all and (max-width: 800px) {
            max-width: none;
        }

        .small_title {
            display: flex;
            align-items: center;
            gap: 4px;

            background: var(--code-black);
            padding: 4px 8px;
            width: fit-content;
            border-radius: 6px;

            position: absolute;
            top: 0;
            // left: 24px;
            left: 0 p {
                color: var(--gray);
            }
        }

        .text_w_small_title-body {
            background: var(--code-black);
            border: 1px solid var(--light-black);
            border-radius: 8px;
            padding: 36px 24px 24px 24px;

            p {
                font-family: "Roboto Mono", monospace;
            }
        }
    }
}
/* /////////////////// */

/* /////////////////// */
// Folder With Tabs
/* /////////////////// */

.folder_w_tabs-wrapper {
    .folder_w_tabs-inner {
        max-width: 90%;
        margin: auto;

        @media all and (max-width: 800px) {
            max-width: none;
        }

        .folder-tabs {
            display: flex;
            // gap: 8px;
            // background: var(--code-black);

            .tab {
                display: flex;
                align-items: center;
                gap: 4px;

                background: var(--code-black);
                // background: transparent;
                padding: 8px 10px;
                width: fit-content;
                border-radius: 8px 8px 0 0;
                appearance: none;
                border: none;

                // position: absolute;
                // top: 0;
                // left: 24px;
                p {
                    color: var(--gray);
                }

                &.active {
                    background: var(--light-black);
                }
            }
        }

        .folder-body {
            background: var(--light-black);
            border: 1px solid var(--light-black);
            border-radius: 0 8px 8px 8px;
            padding: 24px;

            .education {
                display: flex;
                // gap: 30px;
                // grid-template-columns: repeat(2, 1fr);

                @media all and (max-width: 800px) {
                    flex-direction: column;
                }

                .degree {
                    flex: 1 1 49%;

                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 8px;

                    padding: 16px;
                    text-align: center;

                    &:first-of-type {
                        border-top: 2px solid var(--accent);
                        border-right: 1px solid var(--accent);
                    }
                    &:nth-of-type(2) {
                        border-bottom: 2px solid var(--accent);
                        border-left: 1px solid var(--accent);
                    }

                    @media all and (max-width: 800px) {
                        &:first-of-type {
                            border-top: none;
                            border-bottom: 1px solid var(--accent);
                            border-right: 2px solid var(--accent);
                        }
                        &:nth-of-type(2) {
                            border-top: 2px solid var(--accent);
                            border-bottom: none;
                            border-left: 2px solid var(--accent);
                        }
                    }

                    .upper {
                        h5 {
                            margin-bottom: 8px;
                        }
                    }

                    .university {
                        margin-top: 16px;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;

                        text-align: center;

                        p {
                            color: var(--gray);
                        }
                    }
                }
            }
        }
    }
}

/* /////////////////// */

/* /////////////////// */
// HeaderWithNumber
/* /////////////////// */

.header_w_num {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 32px;
    overflow: hidden;

    .text {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    p {
        // font-size: clamp(20px, 1.667vw, 30px);
    }

    .number {
        color: var(--accent);
        font-size: clamp(18px, 1.25vw, 22px);
        font-family: "Roboto Mono", monospace;
    }

    .line {
        flex: 1;
        background: var(--light-black);
        height: 1px;
    }

    .slashes {
        flex: 1;
        height: 18px;
        background-image: url(../data/dash.svg);
        background-repeat: space;
        background-size: contain;
        background-position: center;
        opacity: 70%;
    }

    .slash-divider {
        color: var(--gray);
        opacity: 70%;
        // animation: shimmer 10s linear infinite;
        // background: linear-gradient(90deg, var(--gray) 45%, var(--accent) 65%, var(--gray) 85%);
        // background-size: 200% auto;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }

    @keyframes shimmer {
        to {
            background-position: -200% center;
        }
    }
}

/* /////////////////// */

/* /////////////////// */
// IconCardVertical
/* /////////////////// */

.icon_card_vertical {
    padding: 32px 24px;
    border-radius: 8px;
    overflow: hidden;
    min-height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--accent);
    transition: all ease-in-out 300ms;

    &:hover {
        box-shadow: 0 0 20px var(--accent);
    }

    @media all and (max-width: 800px) {
        min-height: 175px;
    }

    &.pale-indigo {
        background-color: var(--pale-indigo);

        &:hover {
            box-shadow: 0 0 20px var(--pale-indigo);
        }
    }

    &.light-indigo {
        background-color: var(--light-indigo);

        &:hover {
            box-shadow: 0 0 20px var(--light-indigo);
        }
    }

    i {
        color: var(--black);
        font-size: clamp(64px, 5.208vw, 84px);

        @media all and (max-width: 800px) {
            font-size: clamp(45px, 13.333vw, 55px);
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media all and (max-width: 800px) {
            gap: 8px;
        }

        p,
        h4 {
            color: var(--black);
        }

        .subtext {
            @media all and (max-width: 800px) {
                font-size: clamp(26px, 7.467vw, 30px);
            }
        }
    }
}

/* /////////////////// */

/* /////////////////// */
// IconCardHorizontal
/* /////////////////// */

.icon_card_horizontal {
    padding: 32px 24px;
    border-radius: 8px;
    overflow: hidden;
    min-width: 350px;

    display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    background-color: var(--accent);
    transition: all ease-in-out 300ms;

    &:hover {
        box-shadow: 0 0 20px var(--accent);
    }

    @media all and (max-width: 800px) {
        min-height: 175px;
    }

    &.pale-indigo {
        background-color: var(--pale-indigo);

        &:hover {
            box-shadow: 0 0 20px var(--pale-indigo);
        }
    }

    &.light-indigo {
        background-color: var(--light-indigo);

        &:hover {
            box-shadow: 0 0 20px var(--light-indigo);
        }
    }

    i {
        color: var(--black);
        font-size: clamp(64px, 5.208vw, 84px);

        @media all and (max-width: 800px) {
            font-size: clamp(45px, 13.333vw, 55px);
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media all and (max-width: 800px) {
            gap: 8px;
        }

        p,
        h4 {
            color: var(--black);
        }

        .subtext {
            @media all and (max-width: 800px) {
                font-size: clamp(26px, 7.467vw, 30px);
            }
        }
    }
}

/* /////////////////// */

/* /////////////////// */
// Buttons
/* /////////////////// */

.btn {
    display: flex;
    align-items: center;
    gap: 8px;

    width: fit-content;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: all ease-in-out 300ms;

    .btn-text,
    i {
        color: var(--black);
        font-family: "Roboto Mono", monospace;
        font-size: clamp(18px, 1.25vw, 22px);
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.28px;
        transition: all ease-in-out 300ms;

        @media all and (max-width: 800px) {
            font-size: clamp(16px, 4.267vw, 18px);
        }
    }

    &:hover {
        // cursor: pointer;
        transform: translateY(-1px);
        // transform: translate(-2px, -2px);
    }

    &.accent {
        border: 4px solid var(--accent);
        background-color: var(--accent);
        // box-shadow: 4px 4px 0px var(--darker-indigo);

        &:hover {
            transform: translate(-2px, -2px);
            // box-shadow: 6px 6px 0px var(--darker-indigo);
            box-shadow: 0 0 12px var(--accent);
        }
    }

    &.accent-outline {
        background-color: transparent;
        border: 4px solid var(--accent);
        // box-shadow: 4px 4px 0px var(--light-indigo);
        .btn-text,
        i {
            color: var(--accent);
        }

        &:hover {
            background: color-mix(in oklab, var(--accent) 14%, transparent);
            // box-shadow: 6px 6px 0px var(--light-indigo);

            .btn-text,
            i {
                color: var(--white);
            }
        }
    }

    &.small {
        padding: 8px 16px;
        border-width: 2px;
        .btn-text,
        i {
            font-size: clamp(14px, 0.972vw, 18px);
        }
    }

    &.disabled {
        opacity: 40%;

        &:hover {
            box-shadow: none;
            transform: none;
        }
    }
}

/* /////////////////// */

/* /////////////////// */
// Tag
/* /////////////////// */

.tag {
    // padding: 8px 12px;
    border-radius: 8px;
    width: fit-content;

    display: flex;
    gap: 8px;

    &.purple {
        background-color: hsl(var(--accent-hsl) / 0.2);
        border: 1px solid hsl(var(--accent-hsl) / 0.3);

        .tag-text {
            color: var(--accent);
        }
    }

    &.white {
        // background: var(--white);
        // border: 1px solid var(--light-gray);

        .tag-text {
            color: var(--gray);
        }
    }

    .tag-text {
        font-weight: 500;
        font-size: clamp(14px, 0.972vw, 18px);
    }
}

/* /////////////////// */

/* /////////////////// */
//  Experience Content
/* /////////////////// */

.experience_content {
    .experience_content-header {
        padding: 32px;
        background: color-mix(in srgb, var(--deep-indigo) 20%, transparent);
        border: 1px solid color-mix(in srgb, var(--deep-indigo) 30%, transparent);

        border-radius: 8px;
        overflow: hidden;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media all and (max-width: 800px) {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media all and (max-width: 800px) {
                align-items: center;
                text-align: center;
            }
        }
        .right {
            .metric {
                margin-top: 16px;
                display: flex;
                align-items: center;
                gap: 8px;

                @media all and (max-width: 800px) {
                    justify-content: center;
                }

                p,
                i {
                    color: var(--gray);
                    font-size: clamp(14px, 0.972vw, 18px);
                }
            }
        }

        .timeline {
            @media all and (max-width: 800px) {
                text-align: center;
            }
        }
    }

    .comment {
        margin: 32px 0 16px 0;
        color: var(--gray);
    }

    .metric_card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        gap: 30px;

        @media all and (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .highlight_list {
        padding: 32px 16px;
        background: var(--code-black);
        border: 1px solid var(--light-black);
        border-radius: 8px;
        overflow: hidden;

        .highlight {
            display: flex;
            align-items: center;
            gap: 16px;

            padding: 16px;
            border-radius: 8px;
            transition: all ease-in-out 300ms;

            margin-bottom: 8px;

            @media all and (max-width: 800px) {
                flex-direction: column;
                text-align: center;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            i {
                color: var(--accent);
                font-size: clamp(26px, 1.944vw, 36px);
            }

            &:hover {
                background-color: var(--light-black);
            }
        }
    }
}

.metric_card {
    padding: 16px;
    background: var(--code-black);
    border: 1px solid var(--light-black);
    border-radius: 8px;
    overflow: hidden;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        margin-bottom: 16px;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 8px;
            background-color: hsl(var(--accent-hsl) / 0.2);
            border-radius: 8px;

            i {
                color: var(--accent);
                font-size: clamp(26px, 1.944vw, 36px);
            }
        }

        .text {
            text-align: right;

            .stat {
                color: var(--accent);
            }

            .stat_subtext {
                font-family: "Roboto Mono", monospace;
                color: var(--gray);
            }
        }
    }
}


/* /////////////////// */

/* /////////////////// */
// Education Accordion
/* /////////////////// */

.education_accordion {
    .edu-summary {
        appearance: none;
        background: var(--accent);
        border-radius: 8px;

        padding: 8px;
        p {
            color: var(--light-black);
        }
    }

    .edu-body {
        overflow: hidden;
        height: 0;
        transition: all ease-in-out 300ms;

        display: flex;

        .edu {
        }
    }
}

/* /////////////////// */

/* /////////////////// */
// Project Swiper
/* /////////////////// */

.project_swiper-wrapper {
    .project_swiper {
        overflow: hidden;
        .swiper-wrapper {
            align-items: stretch;
            transition: all 0.3s ease-in-out;
        }
        .swiper-slide {
            height: auto;

            .terminal_card {
                height: 100%;
            }
        }
    }

    .project_swiper-navigation {
        display: flex;
        justify-content: center;
        gap: 16px;

        margin-top: 32px;

        button {
            appearance: none;
            // border: none;
            // background: none;

            display: flex;
            align-items: center;
            gap: 8px;

            width: fit-content;
            padding: 12px 24px;
            border-radius: 8px;
            text-decoration: none;
            transition: all ease-in-out 300ms;

            &.prev-btn {
                i {
                    transform: rotate(-45deg);
                }
                &:not(.disabled):hover {
                    gap: 12px;
                    i {
                        // transform: rotate(-5deg);
                    }
                }
            }

            &.next-btn {
                i {
                    transform: rotate(135deg);
                }
                &:not(.disabled):hover {
                    gap: 12px;
                    i {
                        // transform: rotate(105deg);
                    }
                }
            }
        }
    }
}

/* /////////////////// */

/* /////////////////// */
// Stat
/* /////////////////// */

.stat {
    background: var(--code-black);
    border: 1px solid var(--light-black);
    border-radius: 8px;
    overflow: hidden;
    padding: 16px 32px;

    text-align: center;
    h6 {
        color: var(--accent);
        margin-bottom: 8px;
        font-weight: 600;
    }
}
/* /////////////////// */

/* /////////////////// */
// Case Study Hero
/* /////////////////// */

.case_study_hero-wrapper {
    background-color: var(--code-black);
    border-radius: 8px;
    padding: 48px;

    .case_study_hero-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 48px;

        margin-bottom: 32px;

        .left {
            display: flex;
            align-items: center;
            gap: 8px;

            i {
                color: var(--accent);
                font-size: 28px;
            }
        }

        .right {
            border-radius: 8px;
            padding: 8px;
            background-color: hsl(var(--accent-hsl) / 0.2);
            border: 1px solid hsl(var(--accent-hsl) / 0.3);

            display: flex;
            align-items: center;
            gap: 8px;

            .tag-text {
                color: var(--accent);
            }
            i {
                color: var(--accent);
                font-size: clamp(14px, 0.972vw, 18px);
            }
        }
    }  

    .case_study_hero {
        margin-bottom: 32px;

        h1 {
            margin-bottom: 16px;
        }

        .eyebrow {
            color: var(--accent);
        }
    }
}

/* /////////////////// */