section {
    padding: 120px 60px;
}

.home_page {
    #name {
        min-height: 100vh;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3vw; 
    }
    
    #education {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .cards {
            display: flex;
            gap: 30px;

            width: 100%;

            .card {
                flex: 1;
            }
        }
    }

    #experience {
        display: flex;
        flex-direction: column;
        gap: 60px;

        /* #work_experience {
            text-align: center;

            .div_line {
                display: none;
            }
        } */

        .jobs {
            .job {
                .job_cards {
                    margin-top: 40px;

                    /* display: flex; */
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
                    gap: 30px;
                }
            }
        }
    }

    #skills {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .skill_box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0px;

            .box_unit {
                padding: 32px 24px;
                background: rgba(40, 40, 40, 0.50);
                min-height: 256px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &:nth-of-type(1), &:nth-of-type(3) {
                    border-right: 3px solid var(--light-black);
                }

                &:nth-of-type(3), &:nth-of-type(4) {
                    border-top: 3px solid var(--Blacks-Lighter-Black, #282828);
                }

                /* p {
                    font-size: clamp(20px, 1.389vw, 25px);
                    font-family: Ostrich Sans;
                    letter-spacing: 2.8px;
                    text-transform: uppercase;
                } */
            }
        }   
    }

    #case_studies {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .study_cards {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
    }
}

@media all and (max-width: 800px) {
    section {
        padding: 60px 16px;
    }
    
    .home_page {
        #education {
            .cards {
                flex-direction: column;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .home_page  {
        #name {
            min-height: auto;

            .header_with_line {
                h1 {
                    font-size: clamp(30px, 9vw, 60px) !important;
                }
            }
        }

        #skills {
            .skill_box {
                grid-template-columns: repeat(1, 1fr);
                padding: 0 16px;

                .box_unit {
                    min-height: 166px;
                    border-top: none !important;
                    border-right: none !important;
                    
                    &:not(:last-of-type) {
                        border-bottom: 3px solid var(--Blacks-Lighter-Black, #282828);
                    }

                    p {
                        font-size: clamp(16px, 4.267vw, 20px);
                    }
                }
            }
        }
    }
}