
/* .home {
    height: 100vh;
    overflow: hidden
} */

section {
    padding: 120px 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}

#name {
    min-height: 100vh;
}


#education {
    min-height: 100vh;
    /* background-color: var(--darker-white); */
    gap: 6vw;

    .cards {
        flex: 1 1 467px;

        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .header_with_line-inner {
        padding: 0 0 32px 0;
    }

}

#experience {
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .jobs {
        width: 100%;

        .job {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5.556vw;
        }

        .card {
            flex: 1 1 481px;
            height: fit-content;

            margin: 48px 0;

            /* position: relative; */
            /* top: 24px; */
        }

        .descriptions {
            flex: 1 1 759px;
            padding: 48px 0;

            display: flex;
            flex-direction: column;
            gap: 24px;

            .description {
                h6 {
                    margin-bottom: 8px;
                }
                
                ul {
                    padding-left: 24px;
                }
            }
        }
    }
}

#projects {
    min-height: 100vh;
    background-color: var(--darker-white);
}

#skills {
    min-height: 100vh;
    /* background-color: var(--darker-white); */

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;

    .skill_box {
        /* flex: 1; */
        width: 100%;
        padding: 60px;
        background-color: var(--light-black);

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        h4 {
            margin-bottom: 10px;
        }
    }   
}