.skills-section {
    .skills-inner {
        .skills-header {
            margin-bottom: 32px;

            .role_name {
                padding-bottom: 16px;

                h2 {
                    margin-bottom: 16px;
                }
            }

            .eyebrow {
                margin-bottom: 16px;
            }
        }
    }

    .skills-grid-vertical {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        grid-template-rows: 1fr;
        gap: 30px;

        @media all and (min-width: 650px) and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media all and (max-width: 650px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.experience-section {
    .experience-inner {
        .experience-body {
            .experience_dashboard-header {
                padding: 16px;
                background: var(--code-black);
                border: 1px solid var(--light-black);
                border-radius: 8px;
                overflow: hidden;

                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
            }
        }
        // .experience_cards {
        //     .experience_card {
        //         position: relative;

        //         &.with_note {
        //             padding-top: 12px;
        //         }

        //         .experience_card-note {
        //             display: flex;
        //             align-items: center;
        //             gap: 4px;

        //             // background: var(--light-black);
        //             background: var(--accent);

        //             padding: 4px 8px;
        //             width: fit-content;
        //             border-radius: 6px;

        //             position: absolute;
        //             top: 0;
        //             right: 24px;

        //             p {
        //                 color: var(--light-black);
        //             }
        //         }

        //         .experience_card-inner {
        //             background: var(--code-black);
        //             border: 1px solid var(--light-black);
        //             border-radius: 8px;
        //             overflow: hidden;
        //             // padding: 24px;

        //             .experience_card-header {
        //                 padding: 24px;
        //                 background: var(--light-black);

        //                 h4 {
        //                     display: flex;
        //                     align-items: center;
        //                     gap: 8px;

        //                     margin-bottom: 16px;

        //                     .accent {
        //                         font-family: "Ostrich Sans";
        //                     }
        //                 }
        //             }
        //             .experience_card-body {
        //                 padding: 24px;
        //             }
        //         }
        //     }
        // }
    }
}

.project-section {
    .project-inner {
        .project-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            gap: 32px;

            @media all and (max-width: 800px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    .tag {
        background: color-mix(in oklab, var(--accent) 14%, #0000);
        border: 1px solid var(--accent);
        padding: 8px 16px;
        border-radius: 16px;

        font-family: "DM Mono", monospace;
        // font-family: Ostrich Sans;
        font-size: clamp(14px, 0.972vw, 18px);
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        letter-spacing: 0.28px;
    }
}
