
/* .home {
    height: 100vh;
    overflow: hidden
} */

section {
    padding: 120px 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}

#name {
    min-height: 100vh;
}


#education {
    background-color: var(--light-gray);
    gap: 6vw;

    .cards {
        flex: 1 1 467px;

        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .header_with_line {
        color: var(---);
    }
}